// Breakpoints Media Queries
$mobile: 375px;
$desktop: 1440px;

// Colors
$footer-bg-color: #000;
$footer-text-color: #fff;
$primary-color: #FF6060;


// Fonts
$font-family: 'Montserrat', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;