@use '../../style/index' as *;

.logement {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media (width > $tablet) {
    gap: 50px;
  }
  &__container {
    @include flex(column, normal, normal);
    gap: 13px;

    @media (width > $tablet) {
      @include flex(column, normal, normal);
      gap: 24px;
    }
  }

  &__content {
    @include flex(column, start, start);
    gap: 15px;

    @media (width > $tablet) {
      @include flex(row, space-between);
      gap: 30px;
    }
  }

  &__info {
    &--title {
      @include font($text-lg);
      color: $primary-color;

      @media (width > $tablet) {
        @include font($text-2xl);
      }
      @media (width > $desktop) {
        @include font($text-4xl);
      }
    }

    &--location {
      @include font($text-sm);

      @media (width > $tablet) {
        @include font($text-lg);
      }
    }

    &--tags {
      @include flex(row, start);
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__profile {
    @include flex(row-reverse, space-between);
    width: 100%;

    @media (width > $tablet) {
      @include flex(column, space-between, end);
      gap: 21px;
      width: auto;
    }

    &--host {
      @include flex();
      gap: 10px;

      &-name {
        @include font($text-xs);
        text-align: end;

        @media (width > $tablet) {
          @include font($text-lg);
        }
      }

      &-img {
        width: 32px;
        height: 32px;
        border-radius: 50px;

        @media (width > $tablet) {
          width: 64px;
          height: 64px;
        }
      }
    }
  }

  &__collapse {
    @include flex(column, normal, normal);
    gap: 20px;

    @media (width > $tablet) {
      @include flex(row, center, normal);
    }
  }
}

.firstupper {
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}
