@use '../../style/index' as *;

//! TODO : PADDING TROP GRAND EN DESSOUS DES COLLAPSES QUE FAIRE ?

summary::-webkit-details-marker {
  display: none;
}

.collapse {
  &-container {
    @include flex(column, normal, normal);
    gap: 20px;
  }

  &__title {
    @include flex(row, space-between);
    @include font(13px, $font-bold);
    cursor: pointer;
    height: 30px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: $primary-color;
  }

  &__icon {
    @include font($text-base, $font-bold);

    details & {
      transform: rotate(0deg);
      transition: transform 0.5s;
    }

    details[open] & {
      transform: rotate(-180deg);
    }
  }

  &__content {
    @include font($text-xs, $font-normal-collapse);
    padding: 13px 20px 20px 20px;

    details & {
      background-color: $content-bg-color;
      animation: ShowContent .5s;
    }

    details[open] & {
      // position: relative;
      // top: -3px;
      // z-index: -1;
      animation: ShowContent .5s;
    }

    @media (width > $tablet) {
      @include font($text-lg, $font-normal-collapse);
      padding: 16px 20px 20px 20px;
    }
  }
}

// ANIMATIONS
@keyframes ShowContent {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// MEDIA QUERIES
@media (width > $tablet) {
  .collapse {
    &-container {
      padding: 0 108px;
      gap: 30px;
    }

    &__title {
      @include font($text-2xl, $font-bold);
      height: 52px;
      padding: 10px 15px;
    }

    &__icon {
      @include font($text-2xl, $font-bold);
    }
  }
}
