@use '../../assets/style/index' as *;

.header {
  width: 100%;
  &__container {
    @include flex-center(row);
    justify-content: space-between;
  }
  &__logo {
    width: 145px;
    height: 45px;
  }

  &__nav {
    &--list {
      @include flex-center(row);
      @include font($text-xs);
      gap: 25px;

      & a:visited {
        color: #000;
      }
    }
  }
}

@media (width > $mobile) {
  .header {
    &__nav {
      &--list {
        @include font($text-2xl);
      }
    }
  }
}
