@use '../../style/index' as *;

.header {
  width: 100%;
  &__container {
    @include flex(row, space-between);
  }
  &__logo {
    width: 100%;
    max-width: 145px;
    height: 45px;
  }

  &__nav {
    &--list {
      @include flex();
      @include font($text-xs);
      gap: 25px;

      & a,
      a:visited {
        color: #000;
      }
    }
  }
}

@media (width > $tablet) {
  .header {
    &__nav {
      &--list {
        @include font($text-2xl);
      }
    }
  }
}
