// Media Queries Breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// Fonts
$font-family: 'Montserrat', sans-serif;

$text-xs: 0.75rem; // 12px
$text-sm: 0.875rem; // 14px
$text-lg: 1.125rem; // 18px
$text-2xl: 1.5rem; // 24px
$text-5xl: 3rem; // 48px

$font-normal-dropdown: 400;
$font-medium: 500;
$font-bold: 700;

// Colors
$primary-color: #ff6060;
$content-bg-color: #f6f6f6;
$footer-bg-color: #000;
$footer-text-color: #fff;

// Shadows
$shadow: 0px 4px 4px 0px #00000040;

// Radius
$card-radius: 10px;
$banner-radius: 25px;

// Gradient
$gradient: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(10, 10, 10, 0) 42%,
  rgba(4, 4, 4, 0.205) 99.99%,
  rgba(0, 0, 0, 0.5) 100%
);
