@use '../../style/index' as *;

.slider {
  &-container {
    position: relative;
    width: 100%;
    height: 255px;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    background-color: $content-bg-color;

    -webkit-font-smoothing: antialiased;

    @media (width > $tablet) {
      height: 415px;
      border-radius: 25px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 100px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }
  }

  &__arrow--left {
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);

    @media (width > $tablet) {
      font-size: 3em;
      left: 25px;
    }
  }

  &__arrow--right {
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);

    @media (width > $tablet) {
      font-size: 3em;
      right: 25px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__index {
    display: none;
    position: absolute;
    bottom: 25px;
    right: 50%;
    z-index: 1;
    transform: translateX(50%);
    @include font($text-lg);

    @media (width > $tablet) {
      display: block;
    }
  }
}

.circle-shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0) 70%
  );
  width: 80px;
  aspect-ratio: 1/1;
}
