@use '../style/index' as *;

.app-layout {
  @include flex(column, space-between);
  width: 100%;
  min-height: 100dvh;
  gap: 20px;

  header,
  main,
  footer {
    width: 100%;
  }

  main {
    flex: 1;
  }

  & .wrapper {
    width: 100%;
    @include flex(column, start, center);
    flex: 1;
    gap: 19px;
    padding: 20px;
    padding-bottom: 0;
  }

  @media (width > $tablet) {
    gap: 50px;
    .wrapper {
      padding: 40px 100px;
      padding-bottom: 0;
      gap: 38px;
    }
  }
}
